body {
    background-color: #f7f8fc;
}

.wrapper {
    margin: auto;
    max-width: 450px;
}

.todo_list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 5px 28px -12px rgba(34, 60, 80, 0.3);
}

.todo_list h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
}

.todo_input {
    padding: 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input[type="text"] {
    font-family: 'Nunito', sans-serif;
    height: 18px;
    padding: 10px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #d1d3d4;
    flex-grow: 4;
    outline: none;
}

.add {
    height: 40px;
    width: 40px;
    background-color: #5cb999;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    flex-grow: 1 30px;
}

.todo {
    list-style: none;
    background-color: #47464d;
    border-radius: 0 0 8px 8px;
}

.todo li {
    color: #fff;
    padding: 15px 15px 15px 30px;
    margin-left: -40px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

li:last-child {
   border-radius: 0 0 8px 8px;
}

.delete {
    float: right;
    background-color: transparent;
    border: none;
}

.completed {
    color: #fff;
    text-decoration: line-through;
    background-color: #373640;
    padding: 0;
}

.clearAll {
    display: none;
    border: none;
    background-color: #f7f8fc;   
}

i {
    font-size: 20px;
}
